<!DOCTYPE html>
<html>
<head>
  <title>FireWisdom</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
  <link rel="icon" type="image/x-icon" href="../static/images/fire_favicon.ico" />
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">FireWisdom</li>
        <li><a href="/">Community Metrics</a></li>
        <li><a href="/leaderboard">Community Leader Board</a></li>
        <li><a href="/lda_viz">LDA Visualization</a></li>
        <li><a href="https://github.com/JordanHagan/FireWisdom">GitHub Repo</a></li>
      </ul>
    </div>
  </div>
  <div class="row">

    <div class="large-6 columns">
      <h5 class="text-center">Top 10 Communities by Mitigation & Community Events</h4>
      <table>
        <thead>
          <tr><th>Name</th><th># of Events</th></tr>
        </thead>
        <tbody id="events">
        </tbody>
      </table>
    </div>

    <div class="large-6 columns">
      <h5 class="text-center">Top 10 Communities by Investment Per Capita</h4>
      <table>
        <thead>
          <tr><th>Name</th><th>Investment Per Capita</th></tr>
        </thead>
        <tbody id="investment">
        </tbody>
      </table>
    </div>

  </div>
</body>
<script src="../static/js/leaderboard.js"></script>
</html>
